**/target/*
*.out
*.class
ion-war/*
oscars-war/*
wsnbroker/*
lookup/*/*ache*
*.pyc
common-soap/*
authN/config/authN.HTTP.yaml
authN/config/authN.SSL.yaml
authN/config/authN.TESTING.yaml
authZ/config/authZ.HTTP.yaml
authZ/config/authZ.SSL.yaml
authZ/config/authZ.TESTING.yaml
bin/.gitignore
bin/rpm-environment/bin/gendefaultcerts
bin/rpm-environment/oscars-env.spec
bin/rpm-environment/scripts/oscars
bin/sampleDomain/bin/exportconfig
bin/sampleDomain/bin/gencerts
bin/sampleDomain/bin/openssl.cnf
bin/sampleDomain/src/tools/dbanonymizer.py
bin/vm-scripts/etc/ADVANCED_CONF
bin/vm-scripts/etc/OSCARS_VM_CONF
bin/vm-scripts/etc/kvm_sample.xml
bin/vm-scripts/etc/ssh_keys/oscars_setup_rsa
bin/vm-scripts/etc/ssh_keys/oscars_setup_rsa.pub
bin/vm-scripts/scripts/easymac.sh
bin/vm-scripts/scripts/get_netaddr.pl
bin/vm-scripts/scripts/setup_kvm.sh
bin/vm-scripts/scripts/setup_oscars.sh
bin/vm-scripts/setup.sh
derby.log
resourceManager/config/config.HTTP.yaml
resourceManager/config/config.SSL.yaml
resourceManager/config/config.TESTING.yaml
tools/python/topology/demo.xml
tools/python/topology/floodlight_demo.xml
