<div id="loginFormDiv" class="loginForm">
	<form id="loginForm">
		<table class="loginTable">
			<tr>
				<td width="14%">Username:</td>
				<td width="86%"><input type="text" name="userName" id="userName"></td>
			</tr>
			<tr>
				<td>Password:</td>
		 		<td><input type="password" name="initialPassword" id="initialPassword"></td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="submit" dojoType="ion.Button" id="loginButton" label="Sign in"></button>
					<input type="submit" style="width:0px;height:0px;border:none;visibility:hidden">
				</td>
			</tr>
		</table>
	</form>
</div>