<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>ION</display-name>
    <description>
      Web ION interface 
    </description>
	<servlet>
        	<servlet-name>AuthenticateUser</servlet-name>
        	<servlet-class>edu.internet2.ion.ionui.servlets.AuthenticateUser</servlet-class>
        	<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
        	<servlet-name>AuthenticateUser</servlet-name>
        	<url-pattern>/servlet/AuthenticateUser</url-pattern>
    	</servlet-mapping>
	<servlet>
        	<servlet-name>VerifySession</servlet-name>
        	<servlet-class>edu.internet2.ion.ionui.servlets.VerifySession</servlet-class>
	</servlet>

	<servlet-mapping>
        	<servlet-name>VerifySession</servlet-name>
        	<url-pattern>/servlet/VerifySession</url-pattern>
    	</servlet-mapping>
	<servlet>
        	<servlet-name>UserLogout</servlet-name>
        	<servlet-class>net.es.oscars.wbui.servlets.UserLogout</servlet-class>
    	</servlet>
	<servlet-mapping>
        	<servlet-name>UserLogout</servlet-name>
        	<url-pattern>/servlet/UserLogout</url-pattern>
	</servlet-mapping>
	<servlet>
       		<servlet-name>ListReservations</servlet-name>
        	<servlet-class>edu.internet2.ion.ionui.servlets.IONListReservations</servlet-class>
        	<load-on-startup>1</load-on-startup>
    	</servlet>
	<servlet-mapping>
       		<servlet-name>ListReservations</servlet-name>
        	<url-pattern>/servlet/ListReservations</url-pattern>
    	</servlet-mapping>
	<servlet>
        	<servlet-name>FavoritesManager</servlet-name>
        	<servlet-class>edu.internet2.ion.ionui.servlets.FavoritesManager</servlet-class>
        	<load-on-startup>1</load-on-startup>
    	</servlet>
 	<servlet-mapping>
		<servlet-name>FavoritesManager</servlet-name>
        	<url-pattern>/servlet/FavoritesManager</url-pattern>
    	</servlet-mapping>
	<servlet>
      		<servlet-name>QueryReservationStatus</servlet-name>
        	<servlet-class>edu.internet2.ion.ionui.servlets.IONQueryReservationStatus</servlet-class>
        	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
       		<servlet-name>QueryReservationStatus</servlet-name>
        	<url-pattern>/servlet/QueryReservationStatus</url-pattern>
    	</servlet-mapping>
	<servlet>
       		<servlet-name>CreateReservation</servlet-name>
        	<servlet-class>edu.internet2.ion.ionui.servlets.IONCreateReservation</servlet-class>
        	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
       		<servlet-name>CreateReservation</servlet-name>
        	<url-pattern>/servlet/CreateReservation</url-pattern>
    	</servlet-mapping>
	<servlet>
        	<servlet-name>QueryReservation</servlet-name>
        	<servlet-class>edu.internet2.ion.ionui.servlets.IONQueryReservation</servlet-class>
        	<load-on-startup>1</load-on-startup>
    	</servlet>
	<servlet-mapping>
        	<servlet-name>QueryReservation</servlet-name>
        	<url-pattern>/servlet/QueryReservation</url-pattern>
    	</servlet-mapping>
	<servlet>
        <servlet-name>EndpointBrowser</servlet-name>
        	<servlet-class>edu.internet2.ion.ionui.servlets.EndpointBrowser</servlet-class>
        	<load-on-startup>1</load-on-startup>
    	</servlet>
	<servlet-mapping>
        	<servlet-name>EndpointBrowser</servlet-name>
        	<url-pattern>/servlet/EndpointBrowser</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>EndpointNameList</servlet-name>
	        <servlet-class>edu.internet2.ion.ionui.servlets.EndpointNameList</servlet-class>
                <load-on-startup>1</load-on-startup>
    	</servlet>
	<servlet-mapping>
       		<servlet-name>EndpointNameList</servlet-name>
        	<url-pattern>/servlet/EndpointNameList</url-pattern>
    	</servlet-mapping>
	<servlet>
	        <servlet-name>CancelReservation</servlet-name>
       		<servlet-class>edu.internet2.ion.ionui.servlets.IONCancelReservation</servlet-class>
    	</servlet>
	<servlet-mapping>
        	<servlet-name>CancelReservation</servlet-name>
        	<url-pattern>/servlet/CancelReservation</url-pattern>
    	</servlet-mapping>
	<servlet>
	        <servlet-name>ModifyReservation</servlet-name>
       		<servlet-class>net.es.oscars.wbui.servlets.ModifyReservation</servlet-class>
    	</servlet>
    	<servlet-mapping>
		<servlet-name>ModifyReservation</servlet-name>
        	<url-pattern>/servlet/ModifyReservation</url-pattern>
    	</servlet-mapping>
	<servlet>
        	<servlet-name>EmailCollector</servlet-name>
                <servlet-class>edu.internet2.ion.ionui.servlets.EmailCollector</servlet-class>
	</servlet>
	<servlet-mapping>
        	<servlet-name>EmailCollector</servlet-name>
        	<url-pattern>/servlet/EmailCollector</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NodeInfo</servlet-name>
        	<servlet-class>edu.internet2.ion.ionui.servlets.NodeInfo</servlet-class>
    	</servlet>
	<servlet-mapping>
        	<servlet-name>NodeInfo</servlet-name>
        	<url-pattern>/servlet/NodeInfo</url-pattern>
	</servlet-mapping>
	<servlet>
                <servlet-name>QueryCircuitStatistics</servlet-name>
                <servlet-class>edu.internet2.ion.ionui.servlets.IONQueryCircuitStatistics</servlet-class>
        </servlet>
	<servlet-mapping>
       		<servlet-name>QueryCircuitStatistics</servlet-name>
        	<url-pattern>/servlet/QueryCircuitStatistics</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IONUserQuery</servlet-name>
        	<servlet-class>edu.internet2.ion.ionui.servlets.IONUserQuery</servlet-class>
    	</servlet>
	<servlet-mapping>
        	<servlet-name>IONUserQuery</servlet-name>
		<url-pattern>/servlet/IONUserQuery</url-pattern>
	</servlet-mapping>
	<servlet>
        	<servlet-name>UserQuery</servlet-name>
        	<servlet-class>net.es.oscars.wbui.servlets.UserQuery</servlet-class>
    	</servlet>
	<servlet-mapping>
                <servlet-name>UserQuery</servlet-name>
                <url-pattern>/servlet/UserQuery</url-pattern>
        </servlet-mapping>
    <servlet>
        <servlet-name>UserModify</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.UserModify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddForm</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.UserAddForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAdd</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.UserAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRemove</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.UserRemove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.UserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogout</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.UserLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Institutions</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.Institutions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IONUserList</servlet-name>
        <servlet-class>edu.internet2.ion.ionui.servlets.IONUserList</servlet-class>
                <load-on-startup>1</load-on-startup>
    </servlet>
	<servlet>
        	<servlet-name>IONAuthenticateAdmin</servlet-name>
        	<servlet-class>edu.internet2.ion.ionui.servlets.IONAuthenticateAdmin</servlet-class>
                <load-on-startup>1</load-on-startup>
	</servlet>
		<servlet-mapping>
        	<servlet-name>IONAuthenticateAdmin</servlet-name>
        	<url-pattern>/servlet/IONAuthenticateAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
        	<servlet-name>VerifyAdminSession</servlet-name>
        	<servlet-class>edu.internet2.ion.ionui.servlets.VerifyAdminSession</servlet-class>
	</servlet>
	<servlet>
        	<servlet-name>IONUserQuery</servlet-name>
        	<servlet-class>edu.internet2.ion.ionui.servlets.IONUserQuery</servlet-class>
    	</servlet>
	<servlet-mapping>
       		<servlet-name>UserModify</servlet-name>
        	<url-pattern>/servlet/UserModify</url-pattern>
    	</servlet-mapping>
	<servlet-mapping>
       		<servlet-name>UserAddForm</servlet-name>
        	<url-pattern>/servlet/UserAddForm</url-pattern>
    	</servlet-mapping>
    	<servlet-mapping>
       		<servlet-name>UserAdd</servlet-name>
        	<url-pattern>/servlet/UserAdd</url-pattern>
    	</servlet-mapping>
	<servlet>
        	<servlet-name>IONUserAdd</servlet-name>
        	<servlet-class>edu.internet2.ion.ionui.servlets.IONUserAdd</servlet-class>
    	</servlet>
	<servlet>
       		<servlet-name>IONUserModify</servlet-name>
        	<servlet-class>edu.internet2.ion.ionui.servlets.IONUserModify</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IONUserDelete</servlet-name>
        	<servlet-class>edu.internet2.ion.ionui.servlets.IONUserDelete</servlet-class>
                <load-on-startup>1</load-on-startup>
    	</servlet>
	<servlet-mapping>
        	<servlet-name>IONUserModify</servlet-name>
        	<url-pattern>/servlet/IONUserModify</url-pattern>
    	</servlet-mapping>
    	<servlet-mapping>
        	<servlet-name>IONUserDelete</servlet-name>
        	<url-pattern>/servlet/IONUserDelete</url-pattern>
    	</servlet-mapping>
    	<servlet-mapping>
        	<servlet-name>UserRemove</servlet-name>
        	<url-pattern>/servlet/UserRemove</url-pattern>
    	</servlet-mapping>
    	<servlet-mapping>
       		<servlet-name>UserList</servlet-name>
        	<url-pattern>/servlet/UserList</url-pattern>
    	</servlet-mapping>
    	<servlet-mapping>
       		<servlet-name>UserLogout</servlet-name>
        	<url-pattern>/servlet/UserLogout</url-pattern>
    	</servlet-mapping>
    	<servlet-mapping>
        	<servlet-name>Institutions</servlet-name>
        	<url-pattern>/servlet/Institutions</url-pattern>
    	</servlet-mapping>
	<servlet-mapping>
        	<servlet-name>IONUserList</servlet-name>
        	<url-pattern>/servlet/IONUserList</url-pattern>
    	</servlet-mapping>
	<servlet-mapping>
        	<servlet-name>VerifyAdminSession</servlet-name>
        	<url-pattern>/servlet/VerifyAdminSession</url-pattern>
    	</servlet-mapping>
	<servlet-mapping>
        	<servlet-name>IONUserQuery</servlet-name>
        	<url-pattern>/servlet/IONUserQuery</url-pattern>
    	</servlet-mapping>
	<servlet-mapping>
        	<servlet-name>IONUserAdd</servlet-name>
        	<url-pattern>/servlet/IONUserAdd</url-pattern>
    	</servlet-mapping>
</web-app>
