<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>OSCARS Web Interface</display-name>
    <description>
      Web based interface to OSCARS Reservation System
    </description>

    <!-- Servlets in webapp -->

    <servlet>
        <servlet-name>AuthenticateUser</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.AuthenticateUser</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UserQuery</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.UserQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.UserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAdd</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.UserAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserModify</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.UserModify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRemove</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.UserRemove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Institutions</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.Institutions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attributes</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.Attributes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizationList</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.AuthorizationList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizationAdd</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.AuthorizationAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizationModify</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.AuthorizationModify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizationRemove</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.AuthorizationRemove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddForm</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.UserAddForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizationForm</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.AuthorizationForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogout</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.UserLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateReservation</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.CreateReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateReservationForm</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.CreateReservationForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListReservations</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.ListReservations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelReservation</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.CancelReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryReservation</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.QueryReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryReservationStatus</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.QueryReservationStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyReservation</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.ModifyReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OverrideStatusReservation</servlet-name>
        <servlet-class>net.es.oscars.wbui.servlets.OverrideStatusReservation</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthenticateUser</servlet-name>
        <url-pattern>/servlet/AuthenticateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserQuery</servlet-name>
        <url-pattern>/servlet/UserQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/servlet/UserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAdd</servlet-name>
        <url-pattern>/servlet/UserAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserModify</servlet-name>
        <url-pattern>/servlet/UserModify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRemove</servlet-name>
        <url-pattern>/servlet/UserRemove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Institutions</servlet-name>
        <url-pattern>/servlet/Institutions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddForm</servlet-name>
        <url-pattern>/servlet/UserAddForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attributes</servlet-name>
        <url-pattern>/servlet/Attributes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizationForm</servlet-name>
        <url-pattern>/servlet/AuthorizationForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizationList</servlet-name>
        <url-pattern>/servlet/AuthorizationList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizationAdd</servlet-name>
        <url-pattern>/servlet/AuthorizationAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizationModify</servlet-name>
        <url-pattern>/servlet/AuthorizationModify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizationRemove</servlet-name>
        <url-pattern>/servlet/AuthorizationRemove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogout</servlet-name>
        <url-pattern>/servlet/UserLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateReservation</servlet-name>
        <url-pattern>/servlet/CreateReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateReservationForm</servlet-name>
        <url-pattern>/servlet/CreateReservationForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListReservations</servlet-name>
        <url-pattern>/servlet/ListReservations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelReservation</servlet-name>
        <url-pattern>/servlet/CancelReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryReservation</servlet-name>
        <url-pattern>/servlet/QueryReservation</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>QueryReservationStatus</servlet-name>
        <url-pattern>/servlet/QueryReservationStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyReservation</servlet-name>
        <url-pattern>/servlet/ModifyReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OverrideStatusReservation</servlet-name>
        <url-pattern>/servlet/OverrideStatusReservation</url-pattern>
    </servlet-mapping>

</web-app>
