@charset "UTF-8";
/* Internet2 ION 
Design:  Iman A Muttardy   iam at internet2 dot edu */

/******* Global Styles *******/
/* Error div */
#errorDiv {background:url(../images/error-bottom.png) no-repeat bottom; padding: 0px 10px 10px 10px;}
.errorTop{background:url(../images/error-top.png) no-repeat top; height:32px; margin:0;}
table {border-collapse:collapse; width:100%;}
td {padding: 5px 5px 5px 5px;}

/* Buttons */
.ionButton, .circuitListPageNav_prev, .circuitListPageNav_next{
	background:#000000 url(../images/top-nav-divider-cen.png) repeat-y center; 
	color:#FFFFFF; 
	width:120px; 
	height:40px; 
	text-align:center; 
	font-size:12pt; 
	-moz-user-select: none;
}

/******* Circuit list table *******/
/* Table head */
.circuitListTableHead { background:#000000 url(../images/blue-bg.png) repeat-x center;}
#content .circuitListTableHead tr th a {color:#FFFFFF; text-decoration:none;}
/* Table body */
tr.circuitListOddRow, tr.oddrow {background-color:#EEEEEE;}
/* Results per page menu */
.listResultsPerPage {width:150px; float:left;}
.listResultsPerPage select {width:120px; padding-top:5px; padding-bottom:5px;}
.floatleft{ position:relative;float:right; display:block; }
.circuitListDiv {clear:both;}
/* Page navigation */
.circuitListPageNav_prev, .circuitListPageNav_next { margin: 0 10px 0 10px; padding: 0 0px 0 5px; width: 115px; border-top:2px solid #FFFFFF; border-left:2px solid #ffffff; border-right:2px solid #989898; border-bottom:2px solid #858585; float:left; }
div.circuitListPageNav div a,#content #contentDiv div .circuitListPageNav div a {color:#FFFFFF; text-decoration:none;}
.circuitListPageNav_prev img, .circuitListPageNav_next img {margin-top: 10px;}

/******* Circuit wizard *******/
.left-content {width: 480px; padding: 10px 10px 10px 0px; float:left; margin-top:5px;} 
.right-content {width: 480px; float:left; margin-top:5px;} 
.right-content {background:url(../images/textbox-bottom.png) no-repeat bottom; padding: 0px 0px 20px;}
.right-top{ background:url(../images/textbox-top.png) no-repeat top; height:40px; padding: 5px 15px;}
.right-header{background:url(../images/textbox-header.png) no-repeat left; margin-left:9px; padding: 7px 0px 7px 8px;}
.right-content span {padding-left: 25px; padding-right:10px; margin-bottom: 10px; display:block;}

/******* Circuit details *******/
.tdheader {background:#000000 url(../images/blue-bg.png) repeat-x center; color:#FFFFFF;}

/* added by Andy */
.buttonRow{
	text-align:center;
}
#tmpDescription{
	width: 250px;
}
.endpointComboBoxInput {
	width: 250px;
}
.profileInstructions{
	display: block;
	margin:5px 5px 5px 5px;
}
.profileTable{
	display: block;
}
.bandwidthTextBox{
	width: 100%;
}
.dialogButtons{
	display: block;
	width: 100%;
	padding: 5px 5px 5px 5px;
	text-align: center;
}
.reserveMessage{
	display: block;
	width:100%;
	text-align: center;
}

.reserveSubMessage{
	display: block;
	text-align: center;
	font-size: 10pt;
}

/******* About page *******/
.aboutHeader{ 
	font-size: 18pt;
	font-weight: bold;
	display: block;
	margin: 0px 20px 25px 20px;
}
.aboutBody{ 
	font-size: 12pt;
	display: block;
	margin: 0px 20px 40px 20px;
}

/******* Circuit Info page *******/
.infoMapDiv {
	float: right;
}

.infoButtonDiv {
	float: left;
}

#map_div, #utilSpan {
    border: .5px #CCCCCC inset;
}

